.container-fluid
  .sidebar
    %h3 Top Commenters
    - @friend.sorted_friends_with_comments.each do |commenter|
      %p= commenter[:name] + " made " + commenter[:count].to_s + " comments"

    = link_to "Back", :back

  .container
    %h3 Posts
    %ol
      - @friend.feed.each do |post|
        %li
          %p= raw post['story'] || post['message'] || post['name']
          %p= "~ #{post['from']['name']}"
        - if post['comments']['count'] > 0
          .highlight
            %p Comments:
            %ul
              - post['comments']['data'].each do |comment|
                %li
                  %em= raw "\"#{comment['message']}\" ~#{comment['from']['name']}"
