!!! 5
%html
  %head
    %title Chatty Cathy | Um... Excuse Me?
    = stylesheet_link_tag 'http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery'
    = csrf_meta_tag

  %body
    #header
      %span.login_button= facebook_login_button('large')
      %h1 Chatty Cathy
    #content
      #fb-root
      = yield

:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: #{FACEBOOK_APP_ID}, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
